@{
	ViewData["Title"]="Point of Sale";
	var myMap = new Dictionary<string, string>
	{
		{ "Dashboard", "#" },
		{ "Orders", "#" },
		{ "Products", "/Product" },
	};
	// Store it in ViewData
	ViewData["navButtons"] = myMap;
}




<div class="row m-3">
    <div class="col-md-6">
        <div class="widget chart p-3" style="border-radius:0px; border:1px solid black;">
            <div class="row">
                <div class="col-md-6">
                    <div class="large-text">
                        Resturent
                    </div>
                    <a href="@Url.Action("PointOfSale")" class="btn btn-secondary mt-5 ">
                        Open Register
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
