@model Expense_Tracker.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InternalReference" class="control-label"></label>
                <input asp-for="InternalReference" class="form-control" />
                <span asp-validation-for="InternalReference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Barcode" class="control-label"></label>
                <input asp-for="Barcode" class="form-control" />
                <span asp-validation-for="Barcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductType" class="control-label"></label>
                <input asp-for="ProductType" class="form-control" />
                <span asp-validation-for="ProductType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesPrice" class="control-label"></label>
                <input asp-for="SalesPrice" class="form-control" />
                <span asp-validation-for="SalesPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostPrice" class="control-label"></label>
                <input asp-for="CostPrice" class="form-control" />
                <span asp-validation-for="CostPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Taxes" class="control-label"></label>
                <input asp-for="Taxes" class="form-control" />
                <span asp-validation-for="Taxes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityOnHand" class="control-label"></label>
                <input asp-for="QuantityOnHand" class="form-control" />
                <span asp-validation-for="QuantityOnHand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForecastedQuantity" class="control-label"></label>
                <input asp-for="ForecastedQuantity" class="form-control" />
                <span asp-validation-for="ForecastedQuantity" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TrackBySerialNumber" /> @Html.DisplayNameFor(model => model.TrackBySerialNumber)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volume" class="control-label"></label>
                <input asp-for="Volume" class="form-control" />
                <span asp-validation-for="Volume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendor" class="control-label"></label>
                <input asp-for="Vendor" class="form-control" />
                <span asp-validation-for="Vendor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WarrantyEndDate" class="control-label"></label>
                <input asp-for="WarrantyEndDate" class="form-control" />
                <span asp-validation-for="WarrantyEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

