@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>


@{
	ViewData["Title"] = "Application Roles";
	ViewData["Title"] = "Roles";
	var myMap = new Dictionary<string, string>
	{
		{ "Add Role", "/AppRoles/Create" },
	};

	// Store it in ViewData
	ViewData["navButtons"] = myMap;
}
<h2 class="large-text">View Roles</h2>



<div class="row">
	<div class="col-md-4">
		<ejs-grid id="EmployeeTable" dataSource="@Model" allowFiltering="true" allowSorting="true" allowPaging="true">
			<e-grid-pagesettings pageSize="6"></e-grid-pagesettings>
			<e-grid-filterSettings type="Excel"></e-grid-filterSettings>
			<e-grid-columns>
				<e-grid-column headerText="Roles" field="Name"></e-grid-column>
			</e-grid-columns>

		</ejs-grid>
	</div>
</div>
