@model IEnumerable<Expense_Tracker.Models.Transaction>
@{
    ViewData["PageTitle"] = "Transaction";
    ViewData["PageActionText"] = "+ New Transaction";
    ViewData["PageActionUrl"] = "/Category/AddOrEdit/";
    ViewData["PageController"] = "Transaction";
    ViewData["PageAction"] = "AddOrEdit";

}
<div class="row">
    <div class="col-md-7">
        <ejs-grid id="transaction" dataSource="@Model" gridLines="None" allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="6"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Category" field="CategoryIdWithIcon"></e-grid-column>
                <e-grid-column headerText="Date" field="Date"width="110px"></e-grid-column>
                <e-grid-column headerText="Amount" field="FormattedAmount" width="110px"></e-grid-column>
                @* <e-grid-column headerText="Actions" template="#actionColumnTemplate" field="Actions"></e-grid-column> *@
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-money-bill-transfer fa-2xl"></i>
        </div>
    </div>

</div>
