@{
	ViewData["Title"] = "Dashboard";
	ViewData["Name"] = "Learning | .NET";
	var map = new Dictionary<string, string>
	{
		{"Dashboard","/Dashboard"},
		{"Details","/Dashboard/DashboardDetails"}
	};
	ViewData["navButtons"] = map;
	Layout = null;

}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="author" content="Muhammad Danish" />
	<meta name="description" content="This page content all things that I am learning how to
	how to create as I learn ASP.NET core MVC with extra stuff like html, css, javascript, APIs and
    Bootstrap" />
	<title>@(ViewData["Name"] ?? "Expense Tracker")</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link href="https://cdn.syncfusion.com/ej2/28.1.33/bootstrap5-dark.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="~/css/LearningSheet.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Expense_Tracker.styles.css" asp-append-version="true" />
	<script src="https://cdn.syncfusion.com/ej2/28.1.33/dist/ej2.min.js"></script>

</head>



<body>

	<div class="appbar d-flex align-items-center px-3" style="">
		<div class="">	<h5 style="font-size:22px;color:white;">Learning</h5></div>
		<div class="btn-group mx-5">
			<a href="#intro" class="btn btn-secondary btn-sm">Intro</a>
			<a href="#details" class="btn btn-secondary btn-sm">Details</a>
			<a href="#last" class="btn btn-secondary btn-sm">last</a>
		</div>

	</div>

	<section id="intro">



		<h5 id="hhh" class="large-text">Hello, Visual Studio!</h5>
		<hr />
		<p>
			This page is only for learning purpose.
			<br />I will implement everything that I will learn.
		</p>
	</section>
	<hr />
	<section id="details">
		<p class="custom">
			This page is only for learning purpose.
			<em>how are you </em>
			<strong>how are you </strong>

			<abbr title="hey how are you doing">whatsup</abbr>

			<br />I will implement everything that I will learn.
		</p>
		<address>Islamabad Pakistan</address>
	</section>
	<hr />
	<section id="last">
		<p class="text-center">
			click here for me My
			<a href="https://www.github.com/kanirya" target="_blank">
				<abbr title="https://www.github.com/kanirya">Gihub</abbr>
			</a> Accoun
		</p>
		<div class="text-center">
			<a onclick="document.getElementById('hhhh').style.color='red'; " class="btn btn-secondary btn-sm">click me </a>
		</div>
	</section>
	<div class="text-center">
		<figure>
			<img id="myImage" src="~/Images/dai.png" alt="My Image" width="100" height="100" />
			<figcaption>
				<p style="font-size:14px;">
					This is my image
				</p>
			</figcaption>
		</figure>
	</div>
	<p id="hhhh" title="this is tool tip"> hey whatup. Is everything going well or not ?</p>
	
	<div class="text-center">

		<abbr title="Download ke icon">
			<a href="~/profile.jpg"download="true">Download Icon</a>
		</abbr>

	</div>
	<div class="text-center">
		<a href="mailto:codewithartist1@gmail.com"><i class="fa-solid fa-email">Email</i></a>
	</div>
	<h4>
			@global.name.ToString()
	</h4>
	<a href="#">back to top</a>


	<script>
		function changeImage() {
			let img = document.getElementById("myImage");
			img.src = img.src.includes("~/apple-touch-icon.png") ? "~/profile.jpg" : "~/apple-touch-icon.png";
		}
	</script>

</body>


</html>