html{
    font-size:22px;
}
body {
    

}
h1 {
    font-family: "Poppins";
}

h2 {
    font-family: "Poppins";
}

h3 {
    font-family: "Poppins";
    
}


h4 {
    font-family: "Poppins";
}

h5 {
    font-family: "Poppins";
    font-weight:bold;
}

p.custom{
    font-family:"Poppins";
}
