@using Microsoft.AspNetCore.Identity
@using Expense_Tracker.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top body">
    <div class="container-fluid body w-100" style="background-color:#212b36">
        <!-- Brand or Title -->

        <!-- Toggler for small screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>




        <!-- Navbar Content -->
        <div class="collapse navbar-collapse" id="navbarNav"  >
           
        </div>
    </div>
</nav>
