@using Microsoft.AspNetCore.Identity
@using Expense_Tracker.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top body">
    <div class="container-fluid body " style="background-color:#212b36">
        <!-- Brand or Title -->

        <!-- Toggler for small screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>




        <!-- Navbar Content -->
        <div class="collapse navbar-collapse" id="navbarNav" style="background-color:#212b36">
            <ul class="navbar-nav ms-auto">
                @if (SignInManager.IsSignedIn(User))
                {
                    <!-- Display for Logged-in Users -->
                    <li class="nav-item">
                        <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                    </li>
                    <li class="nav-item ">
                        <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout"
                              asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="d-inline">
                            <button id="logout" type="submit" class="btn btn-link nav-link text-white border-0">Logout</button>
                        </form>
                    </li>
                }
                else
                {
                    <!-- Display for Guests -->
                    <li class="nav-item btn-success" >
                        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                    </li>
                    <li class="nav-item btn-success">
                        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
