<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Expense Tracker</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="https://cdn.syncfusion.com/ej2/28.1.33/bootstrap5-dark.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Expense_Tracker.styles.css" asp-append-version="true" />
<script src="https://cdn.syncfusion.com/ej2/28.1.33/dist/ej2.min.js"></script>



<style>
	.appbar {
		position: fixed;
		top: 0;
		width: 100%;
		height: 60px;
		background-color: #ffffff;
		border-bottom: 1px solid #ddd;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		z-index: 1000;
	}

		.appbar .logo {
			font-size: 20px;
			font-weight: bold;
			color: #333;
		}

	.image-logo {
		width: 100px;
		height: 80px;
	}
</style>

<!-- AppBar -->
<div class="appbar">
	<div class="logo">POS</div>
	<img src="~/Images/Logo.svg" class="image-logo" />
	<div class="dropdown">
		<button class="btn btn-light  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
				aria-expanded="false">
			Menu
		</button>

		<ul class="dropdown-menu p-1" aria-labelledby="dropdownMenuButton">

			<li><a class="dropdown-item" href="#">Orders</a></li>
			<li class="dropdown-divider"></li>
			<li><a class="dropdown-item" href="/POS">Backend</a></li>
			<li><a class="dropdown-item" href="#">Settings</a></li>
		</ul>
	</div>
</div>
